span.number-count {
    background: #bf1e2e;
    padding: 2px 6px;
    border-radius: 50px;  
    margin-left: 7px;
}
.top_nav{
	padding:0px;
}
.top_nav ul {
    padding: 12px;
}
.top_nav__shop li {
    padding: 10px;
}
.top_nav__shop li:last-child {
    background: #f15e32;
}
.cart-contents img {
    height: 25px;
    margin-right: 5px;
    margin-top: -5px;
}
img.sign-top {
    height: 23px;
    margin-top: -2px;
    margin-right: 5px;
}
.phone-svg {
    height: 23px;
}
.shop-now-btn {
    background: #f15e32 none repeat scroll 0 0;
    margin-left: 20px !important;
    padding: 10px 45px !important;
    border-bottom:none !important;
    border-radius: 5px;
    transition:0.5s;
    border: 1px solid #f15e32!important;
}
.shop-now-btn:hover {
	background: #003844;
	border: 1px solid #003844!important;

}
.view-article-information {
    border: 1px solid!important;
    padding: 10px 30px!important;
    border-radius: 5px;
    transition:0.5s;
}
.view-article-information:hover {
	background: #003844;
	border:solid 1px #003844 !important;
}
.single-icertech_products .buy-now__tab{
	display: none;
}
.single-icertech_products .request__tab{
	display: none;
}
.blue-sale{
	font-size: 28px;
	font-weight: 600;
	color:#499DC6;
	font-family: Cantarell,sans-serif;
	text-align: center;


}
.blue-sale-top{
	margin-top: 15px;
}
.blue-sale-terms{
	margin-top: 20px;
	font-weight: 500;
	font-family: Cantarell,sans-serif;
	text-align: center;
	color:#666666;
	font-size: 16px;

}
.blue-sale-cupon{
	text-align: center;
	margin-top: 30px;
}
.blue-sale-cupon > span {
    border: 2px dashed #f15e32;
    margin-top: 10px;
    padding: 10px 50px;
    color:#f15e32;
    font-size: 30px;
    font-family: Cantarell,sans-serif;

}
.blue-sale-btn {
    margin-top: 45px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-family: Cantarell,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.blue-sale-btn a{
	 padding: 12px 35px;
	 color:#fff;
	 background: #0A1D2A;
	 transition:0.5s;
}
.blue-sale-btn a:hover{
	text-decoration: none;
	background: #f15e32;

}
.csstransforms .header-menu .sub-menu{
	transition:none;
	margin-top: -20px;
}
.pum-container .pum-content + .pum-close{
	background: #19a8df !important;
}
.pum-close.popmake-close {
    border-radius: 50% !important;
    font-size: 30px!important;
    font-weight: 500!important;
    padding: 12px 11px!important;
    right: -15px !important;
    top: -15px !important;
}
.pum-theme-1195 .pum-container, .pum-theme-default-theme .pum-container{
	padding: 0px !important;
	padding-bottom: 18px !important
}
 .woocommerce a.add_to_cart_button {
background: #00AAE6;
color: #fff;
outline: none;
transition: all 0.35s ease-in-out;
}
.woocommerce a.add_to_cart_button:hover {
background: #0084b3;
color: #fff;
}
#popmake-1484{
	padding: 18px !important;
}
.slick-track{
    display: flex;


}
    .slick-slide{
        display: flex;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional
    }
/* STYLE JAREK */
.bgDark{
	background: #043843;
}
.touchpointBottom{
	padding: 50px 0;
}
.touchpointBottom h3{
	color: #fff;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
	text-transform: initial;
}
.touchpointBottom h4{
	color: #fff;
	font-size: 20px;
	margin-bottom: 0;
	text-align: center;
	text-transform: initial;
}
.btnContainer{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banners--product-container .btnContainer{
	justify-content: left;
}		
.btnContainer .viewrange-btn {
	background: #f15e32 none repeat scroll 0 0;
	margin-right: 20px;
	padding: 8px 35px;
	border-radius: 5px;
	transition: all 0.35s ease-in-out;
	border: 1px solid #f15e32;
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 500;
}
.btnContainer .viewrange-btn:hover{
	background: #00AAE6;
	border-color: #00AAE6;
}
.banners--product-container .btnContainer .viewrange-btn:hover{
	background: #003844;
	border-color: #003844;
}	
.btnContainer .requestsample-btn {
	border: 1px solid #fff;
	padding: 8px 35px;
	border-radius: 5px;
	transition: all 0.35s ease-in-out;
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 500;		
}
.btnContainer .requestsample-btn:hover{
	background: #00AAE6;
	border-color: #00AAE6;
}
.banners--product-container .btnContainer .requestsample-btn:hover{
	background: #003844;
	border-color: #003844;
}
/* END */


@media (max-width: 768px) {
	.slick-slides-sub-title {
    	line-height: 25px;
	}
	.banners--product-container .btnContainer {
		margin-top: 20px;
	}	
}
@media (max-width: 600px) {
	.top_nav__shop > li > a{
			font-size: 11px;
	}
	.top_nav__shop li {
    padding: 10px 3px;
	}
	.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-946 a{
		font-size: 11px;
	}

}
@media (max-width: 511px) {
	.cart-contents img {
    height: 13px;
	}
	img.sign-top {
    height: 13px;

	}
	.phone-svg {
    height: 13px;
     }

}
@media (max-width: 462px) {
		.small-none {
       display: none;
		}
	.view-article-information{
		margin-bottom: 8px !important;
		padding: 10px 15px!important;
	}
	.shop-now-btn{
		padding: 10px 15px!important;
		margin-left: 0px !important;
	}		
}
@media (max-width: 420px) {
	.btnContainer .viewrange-btn{
		margin-right: 15px;
		padding: 8px 15px;
	}
	.btnContainer .requestsample-btn{
		padding: 8px 15px;
	}
}
@media (max-width: 360px) {
.view-article-information{
	float:left;
	margin-bottom: 8px !important;
}
.shop-now-btn{
	float: left;
	margin-left: 0px !important;
}
}




#EcoBox .cpg ,
#PluumoBox .cpg{background:#FFF;color:#666;}
#EcoBox .cpg h2 ,
#PluumoBox .cpg h2 {color:#003844}

.bgr-gradient{margin-top:30px; padding:40px 20px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#23b7cb+0,4bb48e+50,80bc59+100 */
background: rgb(35,183,203); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,183,203,1) 0%, rgba(75,180,142,1) 50%, rgba(128,188,89,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(35,183,203,1) 0%,rgba(75,180,142,1) 50%,rgba(128,188,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(35,183,203,1) 0%,rgba(75,180,142,1) 50%,rgba(128,188,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b7cb', endColorstr='#80bc59',GradientType=0 ); /* IE6-9 */

}
.formxc-tab {display:none;}
@media (min-width:769px){
.nav--packaging-coolant-guide {display:flex;}
}
.imgsc-list {list-style-type:none;padding:0px;margin:0px;}
.imgsc-list li {width:49%;display:inline-block;color:#FFF;padding: 40px 20px;vertical-align: top;}
.imgsc-list li p {margin-bottom:30px}

body .nav--packaging-coolant-guide>li>a {
     padding: 14px 6px;
     font-size: 14px;
}

@media (max-width:769px){
    #myTab {display:none;}
    .formxc-tab ,   .formxc-tab select{display:block;width:100%;padding:10px;}
.imgsc-list li {width:100%;padding:25px 15px;}
}